# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.sqlite3
venv/
env/

# Django
*.log
staticfiles/
media/
local_settings.py

# Environment variables
.env

# VSCode
.vscode/

# MacOS & Windows junk
.DS_Store
Thumbs.db
